body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  color: #222;
}

a {
 color: #047;
 text-decoration:underline;
}

a:hover {
 color:#c00;
}

 
#sidebar {
  float:right;
  background: white;
  width: 180px;
  font-size: 12px;
  border-left: #999 1px solid;
  /* padding: top right bottom left */
  padding: 0 0 20px 15px;
  margin: 0 0 20px 0;
}

#sidebar h3 {
  font-size: 14px;
  margin: 20px 0 5px 0;
}

/*
#sidebar a
{
 color: #222;
 text-decoration:none;
}

#sidebar a:hover {
 color: #c00;
}
*/

h1 a,h2 a {
 color: #222;
 text-decoration:none;
}


h1 a:hover,h2 a:hover {
 color: #c00;
}

.meta {
 background: #f3f3f3;
 font-size: 11px;
 line-height: 15px; 
 color: #333;
 padding: 5px 10px; 
 margin: 0 0 30px 0; 
 border-top: #bbb 1px solid;
}

.programlisting
{
  padding: 4px 0 4px 0;
  border-top: #bbb 1px solid;
  border-bottom: #bbb 1px solid;
  background: #f3f3f3;
}

