Redirect permanent /2009/03/06/build-package-and-publish-gems-with-hoe/  http://ruby.geraldbauer.ca/hoe-build-package-publish-gems.html
Redirect permanent /2009/03/06/build-package-and-publish-gems-with-hoe   http://ruby.geraldbauer.ca/hoe-build-package-publish-gems.html
Redirect permanent /2009/03/03/google-translation-api-with-ruby/         http://ruby.geraldbauer.ca/google-translation-api.html
Redirect permanent /2009/03/03/google-translation-api-with-ruby          http://ruby.geraldbauer.ca/google-translation-api.html
Redirect permanent /2009/02/20/webby-s6-to-generate-presentations/       http://ruby.geraldbauer.ca/webby-s6-generate-presentations.html
Redirect permanent /2009/02/20/webby-s6-to-generate-presentations        http://ruby.geraldbauer.ca/webby-s6-generate-presentations.html
Redirect permanent /2008/08/16/redcloth/                                 http://ruby.geraldbauer.ca/redcloth.html
Redirect permanent /2008/08/16/redcloth                                  http://ruby.geraldbauer.ca/redcloth.html
Redirect permanent /2008/08/06/downgrade-older-version-rails/            http://ruby.geraldbauer.ca/rails-downgrade.html
Redirect permanent /2008/07/22/annotate-models/                          http://ruby.geraldbauer.ca/rails-annotate-activerecord-models.html
Redirect permanent /2008/07/15/read-web-feeds-rss-atom/                  http://ruby.geraldbauer.ca/rss-atom-read-web-feeds.html
Redirect permanent /2008/07/15/read-web-feeds-rss-atom                   http://ruby.geraldbauer.ca/rss-atom-read-web-feeds.html
Redirect permanent /2008/07/13/gmail/                                    http://ruby.geraldbauer.ca/google-smtp-gmail-send-email.html
Redirect permanent /2008/07/13/gmail                                     http://ruby.geraldbauer.ca/google-smtp-gmail-send-email.html
Redirect permanent /2008/01/18/microformats/                             http://ruby.geraldbauer.ca/mofo-microformats.html
Redirect permanent /2008/01/18/microformats                              http://ruby.geraldbauer.ca/mofo-microformats.html
Redirect permanent /2008/01/13/camping/                                  http://ruby.geraldbauer.ca/camping.html

Redirect permanent /camping.html                                 http://ruby.geraldbauer.ca/camping.html
Redirect permanent /google-smtp-gmail-send-email.html            http://ruby.geraldbauer.ca/google-smtp-gmail-send-email.html
Redirect permanent /google-translation-api.html                  http://ruby.geraldbauer.ca/google-translation-api.html
Redirect permanent /hoe-build-package-publish-gems.html          http://ruby.geraldbauer.ca/hoe-build-package-publish-gems.html
Redirect permanent /mofo-microformats.html                       http://ruby.geraldbauer.ca/mofo-microformats.html
Redirect permanent /rails-annotate-activerecord-models.html      http://ruby.geraldbauer.ca/rails-annotate-activerecord-models.html
Redirect permanent /rails-downgrade.html                         http://ruby.geraldbauer.ca/rails-downgrade.html  
Redirect permanent /redcloth.html                                http://ruby.geraldbauer.ca/redcloth.html 
Redirect permanent /rss-atom-read-web-feeds.html                 http://ruby.geraldbauer.ca/rss-atom-read-web-feeds.html
Redirect permanent /webby-s6-generate-presentations.html         http://ruby.geraldbauer.ca/webby-s6-generate-presentations.html

Redirect permanent /                                                     http://ruby.geraldbauer.ca/
Redirect permanent /index.html                                           http://ruby.geraldbauer.ca/